* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0.4rem; */
}

html,
body {
    margin: 0;
    height: 100%;
}
body {
    font-family: Inter, serif;
    /* display: flex; */
}

header {
    display: flex;
    padding: 1rem 1rem;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-out;
}

nav ul li a:hover {
    text-decoration: underline;
    font-size: 1.05rem;
}

nav ul {
    justify-content: space-evenly;
    list-style-type: none;
    flex-direction: column;
}

nav {
    align-content: space-evenly;
}

#name-and-link {
    text-align: center;
}

hr {
    color: rgb(116, 142, 168);
    text-align: center;
    height: 5px;
}

p {
    max-width: 40rem;
    text-align: center;
}

#container {
    display: flex;
    margin: 1.01rem;
    justify-content: center;
}

#container div {
    margin: 0 1.05rem;
}

ul li {
    margin-left: 2rem;
}

/* Photography */
#img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#img-container img {
    /* height: 200px; */
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 300ms ease-in-out;
    margin-bottom: 20px;
}

#img-container img:hover,
img:focus {
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}

@media (max-width: 1110px) {
    #img-container {
        flex-direction: row;
    }
    #img-container img {
        width: 440px;
    }
}

@media (max-width: 500px) {
    #img-container {
        flex-direction: column;
    }
    #img-container img {
        width: 300px;
    }
}
